@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import "../components/Layouts/Footer/footer.scss";
@import "../components/Layouts/Header/header.scss";
@import "./ProductListing.scss";
@import "./ProductDetail.scss";
@import "./Login.scss";

body {
  font-family: "Inter", sans-serif;
  background: #fcfcfc;
}
