.loginContainer {
  .optionContainer {
    .optTitle {
      @apply px-6;
      p {
        white-space: nowrap;
        @apply flex justify-between items-center gap-3;
        &::before,
        &::after {
          content: "";
          display: inline-block;
          width: 80px;
          height: 2px;
          background-color: black;
          opacity: 0.4;
        }
      }
    }
  }
}
