.productSlider {
  .slick-dots {
    li {
      margin: 0 1px;
      button {
        &::before {
          transition: all 0.2s ease-in-out;
          font-size: 7px;
        }
      }
    }
    li.slick-active {
      button {
        &::before {
          font-size: 10px;
        }
      }
    }
  }
}

.productSizes {
  ul {
    gap: 1.5rem;
    li {
      @apply border-2 border-color-secondary/70 text-color-secondary rounded-lg px-3 py-1 hover:bg-color-secondary/90 hover:text-color-primary font-secondaryFont font-semibold 3xl:text-lg;
    }
  }
}
.buyingOptions {
  @apply px-6 gap-6;
  .buyNow,
  .addToBag {
    @apply w-1/2 uppercase tracking-wide bg-color-secondary/80 flex justify-center h-12 items-center rounded-md text-color-primary hover:bg-color-secondary/100
    3xl:h-14 3xl:text-xl xl:text-lg;
  }
}
